/*Container que está dentro do Cabeçalho principal*/
/*Quando a direção muda, o justify content e align items mudam de direção*/
/*Flex-basis: Ele coloca um valor para os elementos.*/
/*Cabeçalho*/
.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalhoPrincipal-nav {
  display: flex;
}

/*Footer*/
.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5%;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

/*Alinha e deixa os filhos com a mesma altura*/
.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

/*Mapa de cursos*/
.rodapePrincipal-navMap-list {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; Wrap, caso não couber no tamanho, ele quebra a linha e vai para a próxima.*/
  flex-flow: column wrap; /*Ele junta as duas condições. Em coluna e wrap*/
  height: 250px;
}

/*Nossos cursos*/
.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
  width: 23%;
  margin: 1%
}

/*Quarto filho do elemento, os múltiplos de quarto*/
.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

/*Pegando o quarto elemento mais 1, ajeitando o primeiro elemento*/
.conteudoPrincipal-cursos-link:nth-child(4n+1) {
  margin-left: 0;
}

/*Video*/
.videoSobre .container {
  display: flex;
}

.videoSobre-sobre {
  text-align: center;
  display: flex; /*Ele deixa os itens do mesmo tamanho*/
  flex-direction: column;
  flex-grow: 2; /*Ele expande ocupando o espaço na tela*/
}

.videoSobre-sobre-list {
  flex-grow: 1; /*Utilizando "Flex" o primeiro número será o grow, o segundo o shrink e o terceiro o flex-basis*/
}

.videoSobre-video {
  flex-grow: 1;
  flex-shrink: 2; /*Para diminuir o elemento*/
}

/*Mobile*/
@media(max-width: 768px){
  .cabecalhoPrincipal-nav {
    flex-direction: column;
  }

  .cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: inicial;
    text-align: center;
  }

  .conteudoPrincipal-cursos {
    flex-direction: column;
  }

  .conteudoPrincipal-cursos-link {
    width: 100%;
  }

  .rodapePrincipal-navMap-list {
    height: auto;
  }

  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
    align-items: center;
  }

  .rodapePrincipal-patrocinadores-list {
    margin: 0;
    width: 100%;
  }

  .rodapePrincipal-contatoForm {
    width: 100%;
  }

  .rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
  }

  /*Coloca este elemento em primeiro no menu*/
  .cabecalhoPrincipal-nav-link-app {
    order: -1;
  }

  .videoSobre .container {
    flex-direction: column;
  }

  .videoSobre-video {
    margin: 0 auto;
  }
}

/*Flex grow: Ele soma quantos growns possuem, e divide igualmente entre os elementos*/
/*Flex shrink: Ele pega todos os elementos que possuem shrink, soma os valores e diminui pela quantidade de pixels. Dado o resultado ele diminui pela quantidade de pixels*/
/*Flex basis: Serve para definir uma largura ou altura para um elemento. Caso seja column ele define como se fosse um height, caso seja row, ele define como um width*/
/*Row reverse ou Column reverse: Ele inverte a posição dos objetos. O que estava embaixo fica em cima*/
/*Align-self: É usado somente nos flex items, ele alinha somente um único elemento*/